{% extends "layout.html" %}

{% block title %} Consultas {% endblock %}

{% block head %}
 {{super()}}
{% endblock %}

{% block content %}
<h1>Consultas</h1>

<table > <!--class="styled-table"-->
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Titulo</th>
            <th>Description</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <th>{{ issue.id }}</th>
            <th>{{ issue.email }}</th>
            <th>{{ issue.title }}</th>
            <th>{{ issue.description }}</th>
            <th>{{ issue.status }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{url_for('home')}}"
{% endblock %}