<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    {%block head%}
    <!-- Fluid viewport -->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css"
        >
    {% endblock %}
</head>
<body>
    <main>
        <article>
            <header><h1> Error{{ error.code}}</h1></header>
            {{error.description}}
            <footer>
                <a href="{{url_for('home')}}"></a>
            </footer>
        </article>
    </main>
</body>
</html>