<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css" 
    />
    <link
        rel="stylesheet"
        href=" {{url_for('static',filename='flash.css')}}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <p>Clase 6
        <blockquote>Min 0:48:01</blockquote> </p>
    <header>
        <nav>
            <ul> 
                <li><a href="{{url_for('home')}}"><Strong>LOGO</Strong></a></li>
            </ul>    
            <ul>   
                
                {% if is_authenticated(session)%}
                    {% if check_permissions(session,"issue_index")%}
                        <li><a href="{{url_for('issues.index')}}"><Strong>Consultas</Strong></a></li>
                    {% endif %}
                    {% if check_permissions(session,"user_index")%}
                        <li><a href="{{url_for('users.index')}}"><Strong>Usuarios</Strong></a></li> 
                    {% endif %}
                        <li><a href="{{url_for('auth.logout')}}"><Strong>Cerrar Sesión</Strong></a></li>
                    {% else %}
                        <li><a href="{{url_for('auth.login')}}"><Strong>Iniciar Sesión</Strong></a></li>
                {% endif %}
            </ul>
        </nav>
        {% block navbar%} {% endblock %}
    </header>
    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages%}
                {% for category, message in messages %}
                    <p class="flash {{category}} ">{{message}}</p>
                {% endfor %}
            {%endif%}
        {% endwith%}

        {% block content %}
        {% endblock %}
    </main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>