<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css" 
    />
    <link
        rel="stylesheet"
        href=" {{url_for('static',filename='flash.css')}}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <p>Clase 5 - Autenticación
        <blockquote>Min 0:20:12</blockquote> </p>
    <header>
        <nav>
            <ul style="list-style-type: none;">
                <li><a href="{{url_for('home')}}"><Strong>LOGO</Strong></a></li>
            </ul>
            <ul style="list-style-type: none;">
                <li><a href="{{url_for('issues.index')}}"><Strong>Consultas</Strong></a></li>
            </ul>
        </nav>
        {% block navbar%} {% endblock %}
    </header>
    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages%}
                {% for category, message in messages %}
                    <p class="flash {{category}} ">{{message}}</p>
                {% endfor %}
            {%endif%}
        {% endwith%}

        {% block content %}
        {% endblock %}
    </main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>