{% extends "layout.html" %}

{%block title%} Usuarios {%endblock%}

{%block head%}
    {{super()}}
{%endblock%}

{% block content %}
<table>
    <thead>
        <tr>
            <th>avatar</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th>
                <img src={{avatar_url(user.avatar)}} alt="Avatar" width="30" height="30">
            </th>
            <th>{{user.email}}</th>
            <th>{{user.role}}</th>
        </tr>
        {%endfor%}
    </tbody>
</table>
<a class="secondary" href="{{url_for('home')}}">back</a>
{% endblock %} 